.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  
  margin-top: 65px;
  margin-bottom: 24px;

}

.created {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.textPurple {
  color: var(--purple);
}

.textBlue {
  color: var(--blue);
}

.counter {
  display: flex;
  padding: 2px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: var(--gray-400);

  color: var(--gray-200);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
